.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 1rem 3rem;
  border-radius: 99rem;
}

.logoContainer h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
