@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/*CSS RESET*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --white: #fff;
  --black: #000;
  --light-gray: #efefef;
  --dark-gray: #222;
  --input-border: #eef9f9;
  --primary: #00ff73;
  --secondary: #bffffa;

  --secondary-transparent: #bffffa30;
  --primary-transparent: #00ff7330;
  --black-transparent: #00000010;

  --bg-gradient: linear-gradient(180deg, #212121 0%, #000000 100%);

  --transition: 300ms ease-in-out;
}

body {
  font-family: "Lato", sans-serif;
  background: var(--bg-gradient);
  color: var(--white);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 10rem);
  min-height: calc(100dvh - 10rem);
  padding: 1rem;
  overflow: auto;
}
