.container {
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.container h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, var(--secondary), var(--primary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container h4 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .container h1 {
    font-size: 2.5rem;
  }

  .container h4 {
    font-size: 1.5rem;
  }
}
