.input {
  border: 1px solid var(--secondary);
  padding: 1rem;
  font-size: 1.5rem;
  width: 30rem;
  outline: none;
  border-radius: 0.5rem;
  transition: var(--transition);
  backdrop-filter: blur(20px);
  background-color: #ffffff10;
  color: var(--white);
}

.input:focus {
  outline: 2px solid var(--primary);
  caret-color: var(--primary);
}

.pageList {
  display: none;
  list-style: none;
  background-color: var(--white);
  max-height: 10rem;
  overflow-y: auto;
  border-radius: 0.5rem;
  backdrop-filter: blur(20px);
  background-color: #ffffff10;
  transition: var(--transition);
  color: white;
}

.open {
  display: block;
}

.pageList li {
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.pageList a {
  text-decoration: none;
  color: var(--white);
  display: block;
}

.pageList li:hover {
  background-color: var(--secondary-transparent);
}
